{% extends "webapp/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<body class="text-center">
    <h1>Create a New Mess</h1>
    <br>
    <form method="POST">
        {% csrf_token %}
        <label for="mess_name">Mess Name:</label>
        <input type="text" id="mess_name" name="mess_name" required>
        <button type="submit">Create Mess</button>
    </form>
    <br>
    <p class="fs-3">Or</p>

    <a class="btn btn-dark" href="{% url 'join_mess' %}"> Join a Mess </a>

</body>
</html>

{% endblock %}