{% extends "webapp/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    
    <h1> {{user.in_mess}} </h1>

    <hr>

    <a class="btn btn-outline-dark btn-sm" href='{% url 'createData' %}'> Create new record </a>

    <hr>

    

    <table class="table table-hover table-bordered shadow">
        <thead class="table-dark">
          <th scope="col"> id </th>
          <th scope="col"> Name </th>
          <th scope="col"> email </th>
          <th scope="col"> phone </th>
          <th scope="col"> City </th>
          <th scope="col"> Country </th>
          <th scope="col"> Date Added </th>
          <th scope="col"> View </th>
        </thead>
        <tbody>
            {% if records %}
                {% for record in records %}
                    <tr>
                        <td>{{record.id}}</td>
                        <td>{{record.firstName}} {{record.lastName}}</td>
                        <td>{{record.email}}</td>
                        <td>{{record.phone}}</td>
                        <td>{{record.city}}</td>
                        <td>{{record.country}}</td>
                        <td>{{record.creation_date}}</td>
                        <td><a class="text-success" href="{% url 'view-record' record.id %}"> click </a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
      </table>
      
    {% if messages %}
    {% for message in messages %}
            {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
    
        {% endfor %}

    {% endif %}

{% endblock %}