{% extends "webapp/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Group</title>
</head>
<body>
    <center>
        <h1 class='mb-5'>Welcome to Mess Manager</h1>
        
        <form method="POST">
            {% csrf_token %}
            <label for="mess_name">Mess Code:</label>
            <input type="text" id="mess_code" name="mess_code" required>
            <button type="submit">Create Mess</button>
        </form>
    </center>
</body>
</html>

{% endblock %}