{% extends "webapp/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<body class="text-center">
    <h1>Join a Mess</h1>
    <br>
    <form method="POST">
        {% csrf_token %}
        <label for="mess_code">Mess code:</label>
        <input type="text" id="mess_code" name="mess_code" required>
        <button type="submit">Join Mess</button>
    </form>
    <br>
    <p class="fs-3">Or</p>

    <a class="btn btn-dark" href="{% url 'create_mess' %}"> Create a Mess </a>

    {% if messages %}
    {% for message in messages %}
            {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
    
        {% endfor %}

    {% endif %}
</body>


{% endblock %}